<div class='nested-fields container'>  
  <div class="row">
    <div class="">
      <%= f.label :title %>
    </div>
    <div class="">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="row">
    <div class="">
      <%= f.label :time %>
    </div>
    <div class="">
      <%= f.number_field :time, placeholder: 'Estimated Time to Complete', min: 1 %>
    </div>
  </div>
  <div class="row">
    <div class="">
      <%= f.label :short_description %>
    </div>
    <div class="">
      <%= f.text_field :short_description%>
    </div>
  </div>
  <div class="row">
    <div class="">
      <%= f.label :desription, 'Notes' %>
    </div>
    <div class="">
      <%= f.text_area :desription, class: 'ckeditor' %>
    </div>
  </div>
  <div class="row">
    <div class="">
     <%= link_to_remove_association "remove task", f %>
    </div>
  </div>
</div>