
  <div class="row">
    <div class="">
      <%= f.label :amount %>
    </div>
    <div class="">
      <%= f.number_field :amount, placeholder: 'Reward amount', min: 1 %>
    </div>
  </div>
  <div class="row">
    <div class="">
      <%= f.label :description %>
    </div>
    <div class="">
      <%= f.text_area :description, placeholder: 'Reward Description' %>
    </div>
  </div>
  <div class="row">
    <div class="">
      <%= f.label :pledges_left, 'Backers' %>
    </div>
    <div class="">
      <%= f.text_field :pledges_left, placeholder: 'Max number of backers', min: 1 %>
    </div>
  </div>
  <div class="row">
    <div class="">
      <%= f.label :shipping, 'Does this reward require shipping?' %>
    </div>
    <div class="">
      <br>
      <%= f.check_box :shipping %>
    </div>
  </div>
  <div class="row">
    <div class="">
      <%= link_to_remove_association 'remove reward' %>
    </div>
  </div>
