<h1>Create a new Module</h1>

	<!-- Start Form -->
<%= form_for @course, html: {multipart: true} do |f| %>
  <div class="row">
    <!-- Form errors -->
    <% if @course.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% @course.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<div class='container'>
  <div class="row">
    <div class="">
      <%= f.label :title %>
    </div>
    <div class="">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="row">
    <div class="">
      <%= f.label :length %>
    </div>
    <div class="">
      <%= f.number_field :length %>
    </div>
  </div>
  <div class="row">
    <div class="">
      <%= f.label :short_description %>
    </div>
    <div class="">
      <%= f.text_area :short_description %>
    </div>
  </div>
  <div class="row">
    <div class="">
      <%= f.label :youtube %>
    </div>
    <div class="">
      <%= f.text_field :youtube %>
    </div>
  </div>
</div>

<div class='container'>
<%= f.submit 'Save'%>
</div>

<% end %>

<script type='text/javascript'>
  $(document).ready(function(){
    $('form[data-remote]').bind('ajax:before', function(){
      for (instance in CKEDITOR.instances){
        CKEDITOR.instances[instance].updateElement();
      }
    });
  });
</script>